.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/2017-11-24/上午/project/node_modules
/2017-11-24/下午/project-vuex/node_modules
/2017-11-27/上午/backend/node_modules
/2017-11-27/上午/project/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
